body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 100px;
    background-color:  #FECB3E;
}

.button {
    width: 300px;
    height: auto;
}

#buttons {
    display: flex;
    gap: 80px;
}

#score-output {
    font-family: 'Sora', sans-serif;
    font-weight: 800;
    font-size: 60px;
    border: solid  #5F5FFC;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    padding: 5px 100px;
    background-color:  #5F5FFC;
    color:   white;
}

#text-output {
    font-family: 'Sora', sans-serif;
    font-weight: 800;
    font-size: 50px;
}